@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
background-image: linear-gradient(#636162, #b1afaf);
height: 122vh;
font-weight: bold;
letter-spacing: 2px;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat' sans-serif;
}
.main{
    background-color: white;
    height:auto;
    width: 650px;
    height:1050px;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    
}
.left {
    background-color: #0cda9b;
    width: 220px;
    height: 100%;
    float: left;
    box-shadow: 2px 2px 6px #095c23;
   
}
.right {
    width: 430px;
    height: 100%;
    float: right;
}

.Profile_pic{
    height:180px;
    width:180px;
    background-color:#ddd;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left:60px;
    border: 10px solid #0cda9b;
    box-shadow: 6px 7px 9px #095c23;

}
.Profile_pic img{
    width:100%;
    border-radius:50%;
}
.box-1{
    position:relative;
}
.heading{
    background-color: #636162;
    padding:10px;
    color: #0cda9b;
    text-align:left;
    padding-left: 22px;
    margin-right:-18px;
 }
    .heading::after{
        content:'';
        position: absolute;
        width: 21px;
        height: 18px;
        background-color:#636162;
        left: 212px;
        top: 26px;
        transform: rotate(56deg);
        z-index: -1;
    }
.P1 {
    padding: 9px;
    font-size: 12px;
    vertical-align:sub;
    text-decoration: none;
    text-align:center;

}
.icons1{
    font-size: 16px !important;
    padding:8px !important;
    vertical-align: sub;
}
.p1{
    padding:9px;
    font-size:11px;
    vertical-align: sub;
}
.skill-container{
    width: 90%;
    background-color:#5a5959;
    margin: 0px 10px;
}
.skill{
    text-align: right;
    padding-top:2px;
    padding-bottom:2px;
    color:white;

}
.html{
    width:90%;
    background-color:white;

}

.css {
    width: 80%;
    background-color: white;
}

.javascript {
    width: 85%;
    background-color: white;
}

.jquery {
    width: 80%;
    background-color: white;
}
.web {
    width: 80%;
    background-color: white;
}
.gra {
    width: 90%;
    background-color: white;
}
.icons2{
    padding:18px 10px;
    font-size:16px;
}
h1{
    font-size: 20px;
}
.name-div {
    padding: 25px;
    padding-bottom: 35px;
    text-align: center;
    letter-spacing: 3px;
    background: #636162;
    color: white;
    margin: 35px 0px 50px 60px;
    box-shadow: -4px 3px 8px #000000;
}
.name-div h1{
    margin-bottom:10px;
}
.box-2{
    padding: 0px 45px;
    margin-top: 30px;
}
.p2{
    font-size:13px;
    font-weight:300;
    letter-spacing:2px;
    line-height:18px;
    margin-top:5px;
    padding-left:22px;
    
}

h2{
    font-size:17px;
    margin-bottom: 15px; 

}
.icons3{
    vertical-align: bottom;
    font-size:21px !important;
    color: #636162;
}
.p3{
    font-size:16px;
    word-spacing:1px;
    letter-spacing: 0px;
    margin-top:10px;

}
.p3 span{
    color:#3fcd11;
    padding-left:5px; 

}
.social-media{
    text-decoration:none;
    color:none;
    font-size:35px;
    vertical-align:bottom;
    padding:5px;
}

#div{
    padding:10px;
    margin:5px;
}
